@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any custom styles that can't be handled by Tailwind here */
html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
}