@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any custom styles that can't be handled by Tailwind here */
html {
  scroll-behavior: smooth;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
}


body.overflow-hidden {
  overflow: hidden;
  height: 100vh;
}